.nit{
  width: 300px;
  height: 200px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
.all{
  background-color: #00bfff;
  text-align: center;
}
h1,h3,h2{
  font-family: sans-serif;
}
p{
  font-style: normal;
  font-family: fantasy;
}
mark1{
  background-color: white;
  border: 10px;
  border-radius: 5px;
  padding: 10px;
}
.mark1{
  background-color: white;
  border: 10px;
  border-radius: 25px;
  padding: 10px;
}
